body {
    background-color: rgb(185, 221, 255);
}

h1 {
    color: rgb(212, 125, 25);
}

h1#title {
    background-color: rgb(255, 115, 0);
    text-align: center;
    color: white;
}

h2 {
    color: rgba(212, 125, 25, 0.815);
}

p {
    text-indent: 30px;
}