@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font1: 'Passion One', cursive;
    --font2: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}